<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{titleMap.get(action)}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
  <mat-form-field>
    <input placeholder="{{action}} Name" matInput [(ngModel)]="localData.foodStock.food.name" [matAutocomplete]="auto" (ngModelChange)="filter($event)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let name of filteredNames" [value]="name" (onSelectionChange)="setParams(name)">
        {{name}}
     </mat-option>
 </mat-autocomplete>
 </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="{{action}} Description" [(ngModel)]="localData.foodStock.food.description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="localData.foodStock.place.id">
      <mat-option *ngFor="let place of this.places" [value]="place.id">{{place.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="number" placeholder="{{action}} Quantity" matInput [(ngModel)]="localData.foodStock.quantity">
  </mat-form-field>

  <mat-form-field>
    <input placeholder="{{action}} units" matInput [(ngModel)]="localData.foodStock.food.units">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="pickerValidDate" placeholder="{{action}} validDate" [(ngModel)]="localData.foodStock.validDate">
    <mat-datepicker-toggle matSuffix [for]="pickerValidDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerValidDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerAlarmDate" placeholder="{{action}} alarmDate" [(ngModel)]="localData.foodStock.alarmDate">
    <mat-datepicker-toggle matSuffix [for]="pickerAlarmDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerAlarmDate></mat-datepicker>
  </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{localData.foodStock.food.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
