<div class="panel">
  <h1>Food Stocks</h1>
  <button mat-flat-button color="primary" (click)="openAddDialog()">
    <mat-icon class="mr-1">add</mat-icon>
    Add Food
  </button>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="full-width">

      <!-- Name -->
      <ng-container matColumnDef="food.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.food.name }}</td>
      </ng-container>

      <!-- Quantity -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <!-- Description -->
      <ng-container matColumnDef="food.description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let row">{{ row.food.description }}</td>
      </ng-container>

      <!-- Location -->
      <ng-container matColumnDef="place.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let row">{{ row.place.name }}</td>
      </ng-container>

      <!-- Valid Date -->
      <ng-container matColumnDef="validDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valid</th>
        <td mat-cell *matCellDef="let row">{{ row.validDate | date }}</td>
      </ng-container>

      <!-- Alarm Date -->
      <ng-container matColumnDef="alarmDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Alarm</th>
        <td mat-cell *matCellDef="let row">{{ row.alarmDate | date }}</td>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" class="action-buttons">
          <button mat-icon-button color="primary" (click)="openDialog('Update', row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDialog('Delete', row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
      <tr mat-row        *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- empty -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="7">No food in stock</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
